/* Container */
.container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

/* Form Row */
.formRow {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

/* Inputs + Dropdown */
input,
select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 40px;
  font-size: 14px;
}

input {
  width: 200px;
}

select {
  width: 200px;
}

/* Button */
button {
  height: 40px;
  padding: 0 15px;
  border: none;
  background: #4caf50;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

button:hover {
  background: #45a049;
}

.searchBox {
  width: 300px;
  margin-bottom: 20px;
}

.charts {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.chartBox {
  width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

li {
  margin: 10px 0;
}